body {
  background-color: dodgerblue;
}

h1 {
  text-align: center;
  color: beige;
  font-size: 50px;
}

#main-container {
  display: flex;
  justify-content: center;
}

#chart-container {
  padding: 20px;
  background-color: white;
}

#last-ten {
  margin-right: 20px;
}

#next-ten {
  margin-left: 20px;
}

button {
  background-color: beige;
  color: dodgerblue;
  border: none;
  font-size: 20px;
  padding: 8px;
  cursor: pointer;
  border-radius: 3px;
}

button:disabled {
  background-color: lightgrey;
  color: grey;
  cursor: not-allowed;
}

button:disabled:hover {
  background-color: lightgrey;
  border: none;
  padding: 8px;
}

button:active {
  background-color: white;
}

button:hover {
  background-color: white;
  border: 1px solid dodgerblue;
  padding: 7px;
}
